/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "Raleway", sans-serif;
  z-index: 2;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.navigation__logo {
  color: #fff;
  font-weight: 900;
  font-size: 1.3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.navigation__list__item {
  color: #fff;
}

.navigation__list__item:nth-child(2) {
  padding-left: 34px;
}

.navigation__list__item:nth-child(3) {
  padding: 0 34px;
}

.navigation__list--link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.navigation__list--link:hover {
  text-decoration: none;
  color: #1ED760;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.slide:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url("/assets/images/image1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url("/assets/images/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url("/assets/images/image2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url("/assets/images/image2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url("/assets/images/image3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url("/assets/images/image3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide.current {
  opacity: 1;
}

.buttons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 50%;
  top: 43%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1170px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  z-index: 3;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 450px 450px;
      grid-template-columns: 450px 450px 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  margin-bottom: 7%;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 400px;
  width: auto;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
          box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
  margin: 5%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-image {
  height: 400px;
  width: auto;
}

.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.product-title {
  color: #fff;
  padding: 5px;
}

.product-description {
  color: #fff;
}

body {
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header__title {
  color: #fff;
  font-size: 3.5em;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 2%;
}

.header__subtitle {
  color: #fff;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 600;
}

.header__button {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  background-color: #1DB954;
  padding: 16px 48px 18px;
  border-radius: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 4;
}

.header__button:hover {
  background-color: #1ED760;
}

.section__one {
  text-align: center;
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
}

.section__one__title {
  color: #000;
  font-size: 3.5em;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 1%;
}

.section__one__description {
  color: #1DB954;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 600;
}

.filler {
  height: 1000px;
}
/*# sourceMappingURL=index.css.map */