.album {
    margin: 3% 17% 10%;   
    font-family: "Montserrat" , sans-serif; 

    @media only screen and (max-width: 1760px) {
        margin: 3% 10% 10%;
    }

    @media only screen and (max-width: 450px) {
        margin: 3% 4% 10%;        
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 420px 420px 420px; 
        justify-content: center;

        @media only screen and (min-width: 2000px) {
            grid-template-columns: 420px 420px 420px;
        }

        @media only screen and (max-width: 1760px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media only screen and (max-width: 1330px) {
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
}