@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap");
#mainNav {
  min-height: 56px;
  background-color: rgba(0, 0, 0, 0.75) !important;
  font-family: 'Raleway';
  font-weight: 600;
}

#mainNav .navbar-brand {
  font-weight: 700;
  padding: .9em 0;
}

#mainNav .nav-toggler:focus {
  outline: none;
}

#mainNav .nav-link:hover {
  color: #1DB954 !important;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35em;
  padding: 15em 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url("/assets/images/head.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url("/assets/images/head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  color: #fff;
  font-size: 5.5em;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 1%;
}

.masthead h2 {
  color: #fff;
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: 600;
}

.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  background-color: #1DB954;
  padding: 16px 48px 18px;
  border-radius: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 4;
}

.btn:hover {
  color: #fff;
  background-color: #1ED760;
}

.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #1DB954;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #1DB954;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/assets/images/bg-signup.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/assets/images/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #1DB954;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #1DB954;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

footer {
  padding: 5rem 0;
}
/*# sourceMappingURL=index.css.map */