@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');

$nav-font-stack: 'Raleway' , sans-serif;

.navigation {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .75);
    font-family: $nav-font-stack;
    z-index: 2;

    &__container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }

    &__logo {
        color: #fff;
        font-weight: 900;
        font-size: 1.3em;    
        align-self: center;
    }

    &__list {
        display: flex;
        height: 80px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;

        &__item {
            color: #fff;

            &:nth-child(2) {
                padding-left: 34px;
            }

            &:nth-child(3) {
                padding: 0 34px;
            }
        }

        &--link {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
    
            &:hover {
                text-decoration: none;
                color: #1ED760;
            }
        }
    }
}
